{% extends 'layout.html' %}

{% block body %}
	<br>
	<h1>About Us</h1>
	<p>Richard Yuh is the creator and CEO of Run The Numbers Sports Analysis. Bringing Real-Time Content and Context behind All-Time NBA and NFL Stats. What is the Story behind the Data? Numbers Don't Lie.  </p>
	<div class = "courtphotos">
		<img src = "https://i.redd.it/gqu0whl3xtu21.jpg" alt = "Chase Center" width = "500" height = "300" hspace = "20" vspace = "20"> 
		<img src = "https://s.hdnux.com/photos/31/55/27/6739434/7/rawImage.jpg" width = "500" height = "300">
	</div>
{% endblock %}

