{% extends 'layout.html' %}

{% block body %}
	<br>
	<h1>About Us</h1>
	<p>Richard Yuh is the creator and CEO of Run The Numbers Sports Analysis. Bringing Real-Time Content and Context behind All-Time NBA and NFL Stats. What is the Story behind the Data? Numbers Don't Lie.  </p>
	<div class = "courtphotos">
		<img src = "{{url_for('static', filename='warriors_court.jpg')}}" alt = "Chase Center" width = "500" height = "270" hspace = "20" vspace = "20"> 
		<img src = "{{url_for('static', filename='levi_stadium.jpg')}}" width = "500" height = "270">
	</div>
{% endblock %}

