{% extends 'layout.html' %}

{% block body %}
	</br>
	<h1>Articles</h1>
	<br>
	<p>
		<a href = "https://www.espn.com/nba/story/_/id/28089031/sources-carmelo-anthony-make-trail-blazers-debut-tuesday"> <b>Carmelo Anthony will be making his debut On Tuesday for the Portland Trailblazers</b></a><br><br>
		<a href ="https://www.espn.com/nba/insider/story/_/id/28082645/why-carmelo-anthony-shot-boost-blazers"><b>Why Carmelo Anthony has a shot to boost the Blazers</b></a><br><br> 
		<img src = "https://i.ytimg.com/vi/JWe_07QNTJU/maxresdefault.jpg" alt = "Carmelo Anthony Image" width = "500" height = "280">
	</p>
{% endblock %}
