{% extends 'layout.html' %}

{% block body %}
	</br>
	<h1>Articles</h1>
	<br>
	<p>
		<a href ="https://www.espn.com/nba/story/_/id/28232954/sources-rockets-protest-loss-spurs-harden-dunk-not-counted-want-replay-end-game"><b>Rockets Protest End of Game vs Spurs after Harden Dunk Miscalled by Refs</b></a><br><br> 
		<a href = "https://www.espn.com/nba/story/_/id/28165154/the-future-load-management-potential-new-nba-schedule"> <b>Load Management in the NBA and Potential Changes to NBA Schedule</b></a><br><br>
		<img src = "{{url_for('static', filename='kawhi_pg_rest.jpg')}}" alt = "Articles Image" width = "512" height = "341">
	</p>
{% endblock %}
