{% extends 'layout.html' %}

{% block body %}
	<br>
	<h1>Boston Celtics</h1>
	<b>Coach: Brad Stevens</b><br>
	<b>GM: Danny Ainge</b><br> 
	<b>Arena: TD Garden</b><br>
	<b>Record: 8-1 (1st seed)</b><br>
	<b>Conference: East</b>
	<div class = "teampic">
		<img src = "https://i.ytimg.com/vi/59ljtKHRp0M/maxresdefault.jpg" alt = "magic_team" width = "510" height = "320">
		<img src = "https://cdn11.bigcommerce.com/s-0f122/images/stencil/1280x1280/products/399/18373/1__79929.1463743356.jpg?c=2&imbypass=on" width = "340" height = "350" hspace = "20">
	</div><br> 
	<h2>Team Roster</h2> 
	<br><br><br><br>
{% endblock %}