{% extends 'layout.html' %}

{% block body %}
	<br>
	<h1>Los Angeles Lakers</h1>
	<b>Coach: Frank Vogel</b><br>
	<b>GM: Rob Pelinka</b><br> 
	<b>Arena: Staples Center</b><br>
	<b>
		Record: {{wins}}-{{losses}}
		{% if seed == '1' %}
		({{seed}}st seed)
		{% elif seed == '2' %}
		({{seed}}nd seed)
		{% elif seed == '3' %}
		({{seed}}rd seed)
		{% else %}
		({{seed}}th seed)
		{% endif %}
	</b><br>
	<b>Conference: West</b>
	<div class = "teampic">
		<img src = "https://img.bleacherreport.net/img/images/photos/003/834/460/hi-res-8592202cc23fa8cb0f7570712e35dadb_crop_north.jpg?h=533&w=800&q=70&crop_x=center&crop_y=top" alt = "lakers_team" width = "540" height = "360">
		<img src = "https://i.pinimg.com/originals/30/85/26/308526f377178fe0492b9bb1e7621e6e.jpg" alt = "lakers_logo" hspace = "20">
	</div><br> 
	<h2>Team Roster</h2> 
	<style type="text/css">
	.tg  {border-collapse:collapse;border-spacing:0;}
	.tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:black;}
	.tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:black;}
	.tg .tg-axmw{font-weight:bold;font-size:18px;text-align:center;vertical-align:middle}
	.tg .tg-r28n{font-size:18px;text-align:center;vertical-align:middle}
	</style>
	<table class="tg">
	  <tr>
	    <th class="tg-axmw">Name</th>
	    <th class="tg-axmw">Pos</th>
	    <th class="tg-axmw">Age</th>
	    <th class="tg-axmw">Height</th>
	    <th class="tg-axmw">Weight</th>
	    <th class="tg-axmw">Season</th>
	    <th class="tg-axmw">College</th>
	  </tr>
	  <tr>
	    <td class="tg-r28n">Anthony Davis</td>
	    <td class="tg-r28n">PF</td>
	    <td class="tg-r28n">26</td>
	    <td class="tg-r28n">6-10</td>
	    <td class="tg-r28n">253</td>
	    <td class="tg-r28n">7</td>
	    <td class="tg-r28n">Kentucky</td>
	  </tr>
	  <tr>
	    <td class="tg-r28n">Kyle Kuzma </td>
	    <td class="tg-r28n">PF</td>
	    <td class="tg-r28n">24</td>
	    <td class="tg-r28n">6-8</td>
	    <td class="tg-r28n">221</td>
	    <td class="tg-r28n">2</td>
	    <td class="tg-r28n">Utah</td>
	  </tr>
	  <tr>
	    <td class="tg-r28n">LeBron James</td>
	    <td class="tg-r28n">SF</td>
	    <td class="tg-r28n">34</td>
	    <td class="tg-r28n">6-9</td>
	    <td class="tg-r28n">250</td>
	    <td class="tg-r28n">16</td>
	    <td class="tg-r28n"></td>
	  </tr>
	  <tr>
	    <td class="tg-r28n">Talen Horton-Tucker </td>
	    <td class="tg-r28n">G</td>
	    <td class="tg-r28n">19</td>
	    <td class="tg-r28n">6-4</td>
	    <td class="tg-r28n">234</td>
	    <td class="tg-r28n">R</td>
	    <td class="tg-r28n">Iowa State</td>
	  </tr>
	  <tr>
	    <td class="tg-r28n">Danny Green</td>
	    <td class="tg-r28n">SG</td>
	    <td class="tg-r28n">32</td>
	    <td class="tg-r28n">6-6</td>
	    <td class="tg-r28n">215</td>
	    <td class="tg-r28n">10</td>
	    <td class="tg-r28n">UNC</td>
	  </tr>
	  <tr>
	    <td class="tg-r28n">Demarcus Cousins</td>
	    <td class="tg-r28n">C-F</td>
	    <td class="tg-r28n">29</td>
	    <td class="tg-r28n">6-10</td>
	    <td class="tg-r28n">270</td>
	    <td class="tg-r28n">9</td>
	    <td class="tg-r28n">Kentucky</td>
	  </tr>
	  <tr>
	    <td class="tg-r28n">Kentavious Caldwell-Pope</td>
	    <td class="tg-r28n">SG</td>
	    <td class="tg-r28n">26</td>
	    <td class="tg-r28n">6-5</td>
	    <td class="tg-r28n">204</td>
	    <td class="tg-r28n">6</td>
	    <td class="tg-r28n">Georgia</td>
	  </tr>
	  <tr>
	    <td class="tg-r28n">JaVale McGee</td>
	    <td class="tg-r28n">C</td>
	    <td class="tg-r28n">31</td>
	    <td class="tg-r28n">7-0</td>
	    <td class="tg-r28n">270</td>
	    <td class="tg-r28n">11</td>
	    <td class="tg-r28n">Nevada</td>
	  </tr>
	  <tr>
	    <td class="tg-r28n">Quinn Cook</td>
	    <td class="tg-r28n">PG</td>
	    <td class="tg-r28n">26</td>
	    <td class="tg-r28n">6-1</td>
	    <td class="tg-r28n">180</td>
	    <td class="tg-r28n">3</td>
	    <td class="tg-r28n">Duke</td>
	  </tr>
	  <tr>
	    <td class="tg-r28n">Jared Dudley</td>
	    <td class="tg-r28n">SF</td>
	    <td class="tg-r28n">34</td>
	    <td class="tg-r28n">6-6</td>
	    <td class="tg-r28n">237</td>
	    <td class="tg-r28n">12</td>
	    <td class="tg-r28n">Boston College</td>
	  </tr>
	  <tr>
	    <td class="tg-r28n">Troy Daniels </td>
	    <td class="tg-r28n">SG</td>
	    <td class="tg-r28n">28</td>
	    <td class="tg-r28n">6-4</td>
	    <td class="tg-r28n">200</td>
	    <td class="tg-r28n">6</td>
	    <td class="tg-r28n">Virginia Commonwealth</td>
	  </tr>
	  <tr>
	    <td class="tg-r28n">Alex Caruso </td>
	    <td class="tg-r28n">SG</td>
	    <td class="tg-r28n">25</td>
	    <td class="tg-r28n">6-5</td>
	    <td class="tg-r28n">186</td>
	    <td class="tg-r28n">2</td>
	    <td class="tg-r28n">Texas A&amp;M</td>
	  </tr>
	  <tr>
	    <td class="tg-r28n">Rajon Rondo </td>
	    <td class="tg-r28n">G</td>
	    <td class="tg-r28n">33</td>
	    <td class="tg-r28n">6-1</td>
	    <td class="tg-r28n">180</td>
	    <td class="tg-r28n">13</td>
	    <td class="tg-r28n">Kentucky</td>
	  </tr>
	  <tr>
	    <td class="tg-r28n">Avery Bradley</td>
	    <td class="tg-r28n">SG</td>
	    <td class="tg-r28n">29</td>
	    <td class="tg-r28n">6-3</td>
	    <td class="tg-r28n">180</td>
	    <td class="tg-r28n">9</td>
	    <td class="tg-r28n">Texas</td>
	  </tr>
	  <tr>
	    <td class="tg-r28n">Kostas Antetokounmpo</td>
	    <td class="tg-r28n">PF</td>
	    <td class="tg-r28n">22</td>
	    <td class="tg-r28n">6-10</td>
	    <td class="tg-r28n">200</td>
	    <td class="tg-r28n">1</td>
	    <td class="tg-r28n">Dayton</td>
	  </tr>
	  <tr>
	    <td class="tg-r28n">Zach Norvell</td>
	    <td class="tg-r28n">G-F</td>
	    <td class="tg-r28n">22</td>
	    <td class="tg-r28n">6-5</td>
	    <td class="tg-r28n">205</td>
	    <td class="tg-r28n">R</td>
	    <td class="tg-r28n">Gonzaga</td>
	  </tr>
	  <tr>
	    <td class="tg-r28n">Dwight Howard </td>
	    <td class="tg-r28n">C-F</td>
	    <td class="tg-r28n">34</td>
	    <td class="tg-r28n">6-10</td>
	    <td class="tg-r28n">265</td>
	    <td class="tg-r28n">15</td>
	    <td class="tg-r28n"></td>
	  </tr>
	</table>
	<br><br><br><br>

{% endblock %}