{% extends 'layout.html' %}

{% block body %}
	<br>
	<h1>Orlando Magic</h1>
	<b>Coach: Steve Clifford</b><br>
	<b>GM: Jeff Weltman</b><br> 
	<b>Arena: Amway Center</b><br>
	<b>Record: 3-7 (13th seed)</b><br>
	<b>Conference: East</b>
	<div class = "teampic">
		<img src = "https://specials-images.forbesimg.com/imageserve/1052777130/960x0.jpg?fit=scale" alt = "magic_team" width = "500" height = "320">
		<img src = "https://images.homedepot-static.com/productImages/d25a559f-2730-4cfb-90bc-cd786a516ea7/svn/blue-applied-icon-wall-decals-nbop2203-64_1000.jpg" width = "350" height = "350" hspace = "20">
	</div><br> 
	<h2>Team Roster</h2> 
	<br><br><br><br>
{% endblock %}