{% extends 'layout.html' %}

{% block body %}
	<br>
	<h1>Orlando Magic</h1>
	<b>Coach: Steve Clifford</b><br>
	<b>GM: Jeff Weltman</b><br> 
	<b>Arena: Amway Center</b><br>
	<b>
		Record: {{wins}}-{{losses}}
		{% if seed == '1' %}
		({{seed}}st seed)
		{% elif seed == '2' %}
		({{seed}}nd seed)
		{% elif seed == '3' %}
		({{seed}}rd seed)
		{% else %}
		({{seed}}th seed)
		{% endif %}
	</b><br>
	<b>Conference: East</b>
	<div class = "teampic">
		<img src = "https://specials-images.forbesimg.com/imageserve/1052777130/960x0.jpg?fit=scale" alt = "magic_team" width = "500" height = "320">
		<img src = "https://images.homedepot-static.com/productImages/d25a559f-2730-4cfb-90bc-cd786a516ea7/svn/blue-applied-icon-wall-decals-nbop2203-64_1000.jpg" width = "350" height = "350" hspace = "20">
	</div><br> 
	<h2>Team Roster</h2> 
		<style type="text/css">
		.tg  {border-collapse:collapse;border-spacing:0;}
		.tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:black;}
		.tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:black;}
		.tg .tg-r28n{font-size:18px;text-align:center;vertical-align:middle}
		</style>
		<table class="tg">
		  <tr>
		    <th class="tg-r28n">Name</th>
		    <th class="tg-r28n">Pos</th>
		    <th class="tg-r28n">Age</th>
		    <th class="tg-r28n">Height</th>
		    <th class="tg-r28n">Weight</th>
		    <th class="tg-r28n">Season</th>
		    <th class="tg-r28n">College</th>
		  </tr>
		  <tr>
		    <td class="tg-r28n">D.J. Augustin</td>
		    <td class="tg-r28n">PG</td>
		    <td class="tg-r28n">32</td>
		    <td class="tg-r28n">5-11</td>
		    <td class="tg-r28n">183</td>
		    <td class="tg-r28n">12</td>
		    <td class="tg-r28n">Texas</td>
		  </tr>
		  <tr>
		    <td class="tg-r28n">Evan Fournier</td>
		    <td class="tg-r28n">SG</td>
		    <td class="tg-r28n">27</td>
		    <td class="tg-r28n">6-7</td>
		    <td class="tg-r28n">205</td>
		    <td class="tg-r28n">8</td>
		    <td class="tg-r28n"></td>
		  </tr>
		  <tr>
		    <td class="tg-r28n">Jonathan Issac</td>
		    <td class="tg-r28n">SF</td>
		    <td class="tg-r28n">22</td>
		    <td class="tg-r28n">6-11</td>
		    <td class="tg-r28n">210</td>
		    <td class="tg-r28n">3</td>
		    <td class="tg-r28n">Florida State</td>
		  </tr>
		  <tr>
		    <td class="tg-r28n">Markelle Fultz </td>
		    <td class="tg-r28n">SG</td>
		    <td class="tg-r28n">21</td>
		    <td class="tg-r28n">6-3</td>
		    <td class="tg-r28n">200</td>
		    <td class="tg-r28n">3</td>
		    <td class="tg-r28n">Washington</td>
		  </tr>
		  <tr>
		    <td class="tg-r28n">Wesley Iwundu</td>
		    <td class="tg-r28n">SF</td>
		    <td class="tg-r28n">25</td>
		    <td class="tg-r28n">6-6</td>
		    <td class="tg-r28n">195</td>
		    <td class="tg-r28n">3</td>
		    <td class="tg-r28n">Kansas State</td>
		  </tr>
		  <tr>
		    <td class="tg-r28n">Mohamed Bamba</td>
		    <td class="tg-r28n">C</td>
		    <td class="tg-r28n">21</td>
		    <td class="tg-r28n">7-0</td>
		    <td class="tg-r28n">241</td>
		    <td class="tg-r28n">2</td>
		    <td class="tg-r28n">Texas</td>
		  </tr>
		  <tr>
		    <td class="tg-r28n">Aaron Gordon</td>
		    <td class="tg-r28n">PF</td>
		    <td class="tg-r28n">24</td>
		    <td class="tg-r28n">6-8</td>
		    <td class="tg-r28n">220</td>
		    <td class="tg-r28n">6</td>
		    <td class="tg-r28n">Arizona</td>
		  </tr>
		  <tr>
		    <td class="tg-r28n">Melvin Frazier</td>
		    <td class="tg-r28n">SG</td>
		    <td class="tg-r28n">23</td>
		    <td class="tg-r28n">6-5</td>
		    <td class="tg-r28n">200</td>
		    <td class="tg-r28n">2</td>
		    <td class="tg-r28n">Tulane</td>
		  </tr>
		  <tr>
		    <td class="tg-r28n">Al-Farouq Aminu</td>
		    <td class="tg-r28n">PF</td>
		    <td class="tg-r28n">29</td>
		    <td class="tg-r28n">6-8</td>
		    <td class="tg-r28n">220</td>
		    <td class="tg-r28n">10</td>
		    <td class="tg-r28n">Wake Forest</td>
		  </tr>
		  <tr>
		    <td class="tg-r28n">Nikola Vucevic </td>
		    <td class="tg-r28n">C</td>
		    <td class="tg-r28n">29</td>
		    <td class="tg-r28n">6-11</td>
		    <td class="tg-r28n">260</td>
		    <td class="tg-r28n">9</td>
		    <td class="tg-r28n">USC</td>
		  </tr>
		  <tr>
		    <td class="tg-r28n">Terrence Ross</td>
		    <td class="tg-r28n">SG</td>
		    <td class="tg-r28n">28</td>
		    <td class="tg-r28n">6-6</td>
		    <td class="tg-r28n">206</td>
		    <td class="tg-r28n">8</td>
		    <td class="tg-r28n">Washington</td>
		  </tr>
		  <tr>
		    <td class="tg-r28n">Michael Carter-Williams</td>
		    <td class="tg-r28n">PG</td>
		    <td class="tg-r28n">28</td>
		    <td class="tg-r28n">6-5</td>
		    <td class="tg-r28n">190</td>
		    <td class="tg-r28n">7</td>
		    <td class="tg-r28n">Syracuse</td>
		  </tr>
		  <tr>
		    <td class="tg-r28n">Khem Birch</td>
		    <td class="tg-r28n">C</td>
		    <td class="tg-r28n">27</td>
		    <td class="tg-r28n">6-9</td>
		    <td class="tg-r28n">233</td>
		    <td class="tg-r28n">3</td>
		    <td class="tg-r28n">Pitt, UNLV</td>
		  </tr>
		  <tr>
		    <td class="tg-r28n">Josh Magette</td>
		    <td class="tg-r28n">PG</td>
		    <td class="tg-r28n">30</td>
		    <td class="tg-r28n">6-1</td>
		    <td class="tg-r28n">160</td>
		    <td class="tg-r28n">2</td>
		    <td class="tg-r28n">Alabama-Huntsville</td>
		  </tr>
		  <tr>
		    <td class="tg-r28n">Amile Jefferson</td>
		    <td class="tg-r28n">PF</td>
		    <td class="tg-r28n">26</td>
		    <td class="tg-r28n">6-9</td>
		    <td class="tg-r28n">222</td>
		    <td class="tg-r28n">2</td>
		    <td class="tg-r28n">Duke</td>
		  </tr>
		  <tr>
		    <td class="tg-r28n">B.J. Johnson</td>
		    <td class="tg-r28n">G</td>
		    <td class="tg-r28n">24</td>
		    <td class="tg-r28n">6-7</td>
		    <td class="tg-r28n">200</td>
		    <td class="tg-r28n">2</td>
		    <td class="tg-r28n">Syracuse, La Salle</td>
		  </tr>
		</table>
	<br><br><br><br>
{% endblock %}