{% extends 'layout.html' %}

{% block body %}
	<br>
	<h1>NBA Analysis</h1>
	<p>
		<b>2019-2020 Regular Season Statistical Leaders (as of {{date}})</b><br>
		*At least 10 minutes per game and 5 games played<br>
		Source: <a href="https://www.basketball-reference.com/leagues/NBA_2020_per_game.html">https://www.basketball-reference.com/leagues/NBA_2020_per_game.html</a><br> 
		<a href="/nbateams"><b>Team Index</b></a><br>
		<a href="/nbateamstandings"><b>Team Standings</b></a>
	</p>
	<p>
		<b>Scoring Leader: {{name1}}, {{val1}} PPG</b><br>
		<b>Team: 
			{% if name1 == 'James Harden' %} 
				<a href="/rockets">Houston Rockets</a>
			{% else %} 
				Not available at the moment
			{% endif %}
		</b>
	</p>
	{% if name1 == 'James Harden' %} 
		<img src = "{{url_for('static', filename='james_harden.jpg')}}" alt = "Scoring Leader" width = "400" height = "400">
	{% else %} 
		<img src = "{{url_for('static', filename='jingles.jpg')}}" alt = "Blocks Leader" width = "550" height = "350">
	{% endif %}
	<br><br>
	<p>
		<b>Rebounds Leader: {{name2}}, {{val2}} RPG</b><br>
		<b>Team: 
			{% if name2 == 'Andre Drummond' %} 
				<a href="/pistons">Detroit Pistons</a>
			{% else %} 
				Not available at the moment
			{% endif %}
		</b>
	</p>
	{% if name2 == 'Andre Drummond' %} 
		<img src = "{{url_for('static', filename='andre_drummond.jpg')}}" alt = "Rebounds Leader" width = "470" height = "320">
	{% else %} 
		<img src = "{{url_for('static', filename='jingles.jpg')}}" alt = "Blocks Leader" width = "550" height = "350">
	{% endif %}
	<br><br>
	<p>
		<b>Assist Leader: {{name3}}, {{val3}} APG</b><br>
		<b>Team: 
			{% if name3 == 'LeBron James' %} 
				<a href="/lakers">Los Angeles Lakers</a>
			{% else %} 
				Not available at the moment
			{% endif %}
		</b>
	</p>
	{% if name3 == 'LeBron James' %} 
		<img src = "{{url_for('static', filename='lebron_james.jpg')}}" alt = "Assist Leader">
	{% else %} 
		<img src = "{{url_for('static', filename='jingles.jpg')}}" alt = "Blocks Leader" width = "550" height = "350">
	{% endif %}
	<br><br>
	<p>
		<b>Blocks Leader: {{name4}}, {{val4}} BPG</b><br>
		<b>Team: 
			{% if name4 == 'Anthony Davis' %} 
				<a href="/lakers">Los Angeles Lakers</a>
			{% else %} 
				Not available at the moment
			{% endif %}
		</b>
	</p>
	{% if name4 == 'Anthony Davis' %} 
		<img src = "{{url_for('static', filename='anthony_davis.jpg')}}" alt = "Blocks Leader" width = "510" height = "340"> 
	{% elif name4 == 'Jonathan Issac' %}
		<img src = "{{url_for('static', filename='jonathan_issac.jpg')}}" alt = "Blocks Leader" width = "510" height = "320">
	{% else %} 
		<img src = "{{url_for('static', filename='jingles.jpg')}}" alt = "Blocks Leader" width = "550" height = "350">
	{% endif %}
	<br><br>
	<p> 
		<b>3P% Leader: {{name5}}, {{val5}}%</b><br>
		<b>Team: 
			{% if name5 == 'Rodions Kurucs' %} 
				<a href="/nets">Brooklyn Nets</a>
			{% elif name5 == 'Damian Jones' %}
				<a href="/hawks">Atlanta Hawks</a>
			{% elif name5 == 'Devin Booker' %}
				<a href="/suns">Phoenix Suns</a>
			{% elif name6 == 'Marcus Morris' %}
				<a href="/knicks">New York Knicks</a>
			{% else %} 
				Not available at the moment
			{% endif %}
		</b><br>
		*At least 5 3PA Per Game
	</p>
	{% if name5 == 'Rodions Kurucs' %} 
		<img src = "{{url_for('static', filename='rodions_kurucs.jpg')}}" alt = "3P% Leader" width = "470" height = "320"> 
	{% elif name5 == 'Damian Jones' %}
		<img src = "{{url_for('static', filename='damian_jones.png')}}" width = "530" height = "310">
	{% elif name5 == 'Devin Booker' %}
		<img src = "{{url_for('static', filename='devin_booker.jpg')}}" width = "500" height = "300">
	{% elif name5 == 'Marcus Morris' %}
		<img src = "{{url_for('static', filename='marcus_morris.jpg')}}" width = "570" height = "380">
	{% else %} 
		<img src = "{{url_for('static', filename='jingles.jpg')}}" alt = "Blocks Leader" width = "550" height = "350">
	{% endif %}
	<br><br>
	<p>
		<b>FG% Leader: {{name6}}, {{val6}}%</b><br>
		<b>Team: 
			{% if name6 == 'Robert Williams' %} 
				<a href="/celtics">Boston Celtics</a>
			{% elif name6 == 'Dwight Howard' %}
				<a href="/lakers">Los Angeles Lakers</a>
			{% elif name6 == 'Mitchell Robinson' %}
				<a href="/knicks">New York Knicks</a>
			{% else %} 
				Not available at the moment
			{% endif %}
		</b><br>
		*At least 5 FGA Per Game
	</p>
	{% if name6 == 'Robert Williams' %} 
		<img src = "{{url_for('static', filename='robert_williams.jpg')}}" alt = "FG% Leader" width = "530" height = "320">
	{% elif name6 == 'Dwight Howard' %}
		<img src = "{{url_for('static', filename='dwight_howard.jpg')}}" alt = "FG% Leader" width = "530" height = "320">
	{% elif name6 == 'Mitchell Robinson' %}
		<img src = "{{url_for('static', filename='mitchell_robinson.jpg')}}" alt = "FG% Leader" width = "503" height = "380">
	{% else %} 
		<img src = "{{url_for('static', filename='jingles.jpg')}}" alt = "Blocks Leader" width = "550" height = "350">
	{% endif %}
	<br><br><br><br><br><br>
	
{% endblock %}