{% extends 'layout.html' %}

{% block body %}
<br>
<h1>NBA Team Standings 2019-2020 Season</h1> 
<p> 
<div class = "row">
	<div class = "column">
		<p>
			<img src = "https://sportsfly.cbsistatic.com/fly-461/bundles/sportsmediacss/images/conference-logos/nba/WEST.svg" alt = "Western Conference Logo" alt = "Western Conference Logo" width = "250" height = "250">
			<h2>Western Conference</h2> 
			{% for team in weststandings %}
			<a href="/{{westteams[loop.index0]}}">{{team}}:</a> {{westwins[loop.index0]}}-{{westlosses[loop.index0]}}<br>
			{% endfor %}
		</p>
	</div>
	<div class = "column">
		<p>
			<img src = "https://sportsfly.cbsistatic.com/fly-461/bundles/sportsmediacss/images/conference-logos/nba/EAST.svg" alt = "Eastern Conference Logo" width = "250" height = "250">
			<h2>Eastern Conference</h2> 
			{% for team in eaststandings %}
			<a href = "/{{eastteams[loop.index0]}}">{{team}}:</a> {{eastwins[loop.index0]}}-{{eastlosses[loop.index0]}}<br>
			{% endfor %}
		</p>
	</div>
</div>
</p>



<br><br><br><br>
{% endblock %}