{% extends 'layout.html' %}

{% block body %}
<br>
<h1>NBA Team Standings 2019-2020 Season</h1> 
<p> 
<div class = "row">
	<div class = "column">
		<p>
			<img src = "{{url_for('static', filename='western_conference.gif')}}" alt = "Western Conference Logo" width = "250" height = "250">
			<h2>Western Conference</h2> 
			{% for team in weststandings %}
			<b>{{1+loop.index0}}</b> 
			{% if team == 'Los Angeles Lakers' %}
			<img src = "{{url_for('static', filename='lakers_logo.jpg')}}" alt = "lakers_logo" width = "23" height = "23">
			{% elif team == 'Houston Rockets' %}
			<img src = "{{url_for('static', filename='rockets_logo.png')}}" alt = "rockets_logo" width = "26" height = "25">
			{% elif team == 'Denver Nuggets' %}
			<img src = "{{url_for('static', filename='nuggets_logo.png')}}" alt = "nuggets_logo" width = "23" height = "23">
			{% elif team == 'Los Angeles Clippers' %}
			<img src = "{{url_for('static', filename='clippers_logo.png')}}" alt = "clippers_logo" width = "22" height = "22">
			{% elif team == 'Dallas Mavericks' %}
			<img src = "{{url_for('static', filename='mavericks_logo.jpg')}}" alt = "mavs_logo" width = "23" height = "23">
			{% elif team == 'Utah Jazz' %}
			<img src = "{{url_for('static', filename='jazz_logo.png')}}" alt = "jazz_logo" width = "22" height = "21">
			{% elif team == 'Minnesota Timberwolves' %}
			<img src = "{{url_for('static', filename='timberwolves_logo.jpg')}}" alt = "timberwolves_logo" width = "23" height = "23">
			{% elif team == 'Phoenix Suns' %}
			<img src = "{{url_for('static', filename='suns_logo.png')}}" alt = "suns_logo" width = "23" height = "21">
			{% elif team == 'Sacramento Kings' %}
			<img src = "{{url_for('static', filename='kings_logo.png')}}" alt = "kings_logo" width = "20" height = "22">
			{% elif team == 'Memphis Grizzlies' %}
			<img src = "{{url_for('static', filename='grizzlies_logo.png')}}" alt = "grizzlies_logo" width = "23" height = "25">
			{% elif team == 'New Orleans Pelicans' %}
			<img src = "{{url_for('static', filename='pelicans_logo.png')}}" alt = "pelicans_logo" width = "25" height = "25">
			{% elif team == 'Oklahoma City Thunder' %}
			<img src = "{{url_for('static', filename='thunder_logo.png')}}" width = "30" height = "22">
			{% elif team == 'San Antonio Spurs' %}
			<img src = "{{url_for('static', filename='spurs_logo.png')}}" alt = "spurs_logo" width = "24" height = "24">
			{% elif team == 'Portland Trail Blazers' %}
			<img src = "{{url_for('static', filename='blazers_logo.png')}}" alt = "blazers_logo" width = "22" height = "22">
			{% elif team == 'Golden State Warriors' %}
			<img src = "{{url_for('static', filename='warriors_logo.png')}}" alt = "warriors_logo" width = "22" height = "22">
			{% endif %}
			<a href="/{{westteams[loop.index0]}}">{{team}}:</a> {{westwins[loop.index0]}}-{{westlosses[loop.index0]}}<br>
			{% endfor %}
		</p>
	</div>
	<div class = "column">
		<p>
			<img src = "{{url_for('static', filename='eastern_conference.gif')}}" alt = "Eastern Conference Logo" width = "250" height = "250">
			<h2>Eastern Conference</h2> 
			{% for team in eaststandings %}
			<b>{{1+loop.index0}}</b> 
			{% if team == 'Boston Celtics' %}
			<img src = "{{url_for('static', filename='celtics_logo.jpg')}}" alt = "celtics_logo" width = "23" height = "25">
			{% elif team == 'Milwaukee Bucks' %}
			<img src = "{{url_for('static', filename='bucks_logo.jpeg')}}" alt = "bucks_logo" width = "25" height = "25">
			{% elif team == 'Miami Heat' %}
			<img src = "{{url_for('static', filename='heat_logo.jpeg')}}" alt = "heat_logo" width = "25" height = "25">
			{% elif team == 'Toronto Raptors' %}
			<img src = "{{url_for('static', filename='raptors_logo.png')}}" alt = "raptors_logo" width = "25" height = "25">
			{% elif team == 'Philadelphia 76ers' %}
			<img src = "{{url_for('static', filename='sixers_logo.png')}}" alt = "sixers_logo"  width = "23" height = "23">
			{% elif team == 'Indiana Pacers' %}
			<img src = "{{url_for('static', filename='pacers_logo.png')}}" alt = "pacers_logo" width = "23" height = "23">
			{% elif team == 'Orlando Magic' %}
			<img src = "{{url_for('static', filename='magic_logo.jpg')}}" alt = "magic_logo" width = "25" height = "25">
			{% elif team == 'Charlotte Hornets' %}
			<img src = "{{url_for('static', filename='hornets_logo.png')}}" alt = "hornets_logo" width = "25" height = "25">
			{% elif team == 'Brooklyn Nets' %}
			<img src = "{{url_for('static', filename='nets_logo.jpg')}}" alt = "nets_logo" width = "23" height = "23">
			{% elif team == 'Cleveland Cavaliers' %}
			<img src = "{{url_for('static', filename='cavaliers_logo.png')}}" alt = "cavaliers_logo" width = "20" height = "19">
			{% elif team == 'Detroit Pistons' %}
			<img src = "{{url_for('static', filename='pistons_logo.png')}}" alt = "pistons_logo" width = "23" height = "23">
			{% elif team == 'Atlanta Hawks' %}
			<img src = "{{url_for('static', filename='hawks_logo.png')}}" alt = "hawks_logo" width = "23" height = "23">
			{% elif team == 'New York Knicks' %}
			<img src = "{{url_for('static', filename='knicks_logo.jpg')}}" alt = "knicks_logo" width = "25" height = "25">
			{% elif team == 'Chicago Bulls' %}
			<img src = "{{url_for('static', filename='bulls_logo.jpeg')}}" width = "25" height = "25">
			{% elif team == 'Washington Wizards' %}
			<img src = "{{url_for('static', filename='wizards_logo.jpg')}}" alt = "wizards_logo" width = "23" height = "23">
			{% endif %}
			<a href = "/{{eastteams[loop.index0]}}">{{team}}:</a> {{eastwins[loop.index0]}}-{{eastlosses[loop.index0]}}<br>
			{% endfor %}
		</p>
	</div>
</div>
</p>



<br><br><br><br>
{% endblock %}