{% extends 'layout.html' %}

{% block body %}
	<br>
	<h1>Brooklyn Nets</h1>
	<b>Coach: Kenny Atkinson</b><br>
	<b>GM: Sean Marks</b><br> 
	<b>Arena: Barclays Center</b><br>
	<b>Record: 4-5 (7th seed)</b><br>
	<b>Conference: East</b>
	<div class = "teampic">
		<img src = "https://i.ytimg.com/vi/AB45U1fPULg/maxresdefault.jpg" alt = "nets_team" width = "590" height = "350">
		<img src = "https://images.homedepot-static.com/productImages/f7c5f737-51ed-47e0-b84d-80ea97446447/svn/black-applied-icon-wall-decals-nbop0303-64_600.jpg" alt = "nets_logo" width = "390" height = "390" hspace = "30">
	</div><br> 
	<h2>Team Roster</h2> 

	<br><br><br><br>

{% endblock %}