{% extends 'layout.html' %}

{% block body %}
	</br>
	<h1>NFL Analysis</h1>
	<p>
		<b>2019 Regular Season Statistical Leaders (as of {{date}})</b><br>
		Source: <a href="https://www.pro-football-reference.com/years/2019/leaders.htm">https://www.pro-football-reference.com/years/2019/leaders.htm</a><br>
		<a href = "/nflteams"><b>Team Index</b></a><br>
		<a href = "/nflteamstandings"><b>Team Standings</b></a>
	</p>
	<p>
		<b>Passes Completed: {{name1}}, {{val1}}</b><br>
		<b>Team: <a href={{page1}}>{{team1}}</a></b>
	</p>
	{% if name1 == 'Philip Rivers' %}
		<img src = "{{url_for('static', filename='philip_rivers.jpg')}}" alt = "Passes Completed" width = "470" height = "310">
	{% elif name1 == 'Dak Prescott' %}
		<img src = "{{url_for('static', filename='dak_prescott3.jpg')}}" alt = "Passes Completed" width = "470" height = "310">
	{% else %}
		<img src = "{{url_for('static', filename='roger_goodell.jpg')}}" <alt = "Passes Completed" width = "681" height = "383">
	{% endif %}
	<br><br>
	<p>
		<b>Passing Yds: {{name2}}, {{val2}}</b><br>
		<b>Team: <a href={{page2}}>{{team2}}</a></b>
	</p>
	{% if name2 == 'Dak Prescott' %}
		<img src = "{{url_for('static', filename='dak_prescott.jpg')}}" alt = "Passing Yds" width = "560" height = "316">
	{% elif name2 == 'Philip Rivers' %}
		<img src = "{{url_for('static', filename='philip_rivers.jpg')}}" alt = "Passing Yds" width = "470" height = "320">
	{% else %}
		<img src = "{{url_for('static', filename='roger_goodell.jpg')}}" <alt = "Passing Yds" width = "681" height = "383">
	{% endif %}
	<br><br>
	<p>
		<b>Passer Rating: {{name3}}, {{val3}}</b><br>
		<b>Team: <a href={{page3}}>{{team3}}</a></b>
	</p>
	{% if name3 == 'Russell Wilson' %}
		<img src = "{{url_for('static', filename='russell_wilson.jpg')}}" alt = "Passer Rating" width = "480" height = "340">
	{% elif name3 == 'Ryan Tannehill' %}
		<img src = "{{url_for('static', filename='ryan_tannehill.jpg')}}" alt = "Passer Rating" width = "500" height = "340">
	{% else %}
		<img src = "{{url_for('static', filename='roger_goodell.jpg')}}" <alt = "Passer Rating" width = "681" height = "383">
	{% endif %}
	<br><br>
	<p>
		<b>Passing Yds/Game: {{name4}}, {{val4}}</b><br>
		<b>Team: <a href={{page4}}>{{team4}}</a></b>
	</p>
	{% if name4 == 'Dak Prescott' %}
		<img src = "{{url_for('static', filename='dak_prescott2.jpg')}}" alt = "Passing Yds/Game" width = "600" height = "400">
	{% elif name4 == 'Patrick Mahomes' %}
		<img src = "{{url_for('static', filename='patrick_mahomes.jpg')}}" alt = "Passing Yds/Game" width = "600" height = "340"> 
	{% else %}
		<img src = "{{url_for('static', filename='roger_goodell.jpg')}}" <alt = "Passing Yds/Game" width = "681" height = "383">
	{% endif %}
	<br><br>
	<p> 
		<b>Pass Completion %: {{name5}}, {{val5}}</b><br>
		<b>Team: <a href={{page5}}>{{team5}}</a></b>
	</p>
	{% if name5 == 'Drew Brees' %}
		<img src = "{{url_for('static', filename='drew_brees.jpg')}}" alt = "Pass Completion %" width = "450" height = "340">
	{% else %}
		<img src = "{{url_for('static', filename='roger_goodell.jpg')}}" <alt = "Pass Completion %" width = "681" height = "383">
	{% endif %}
	<br><br>
	<p>
		<b>Rushing Yds/Att: {{name6}}, {{val6}}</b><br>
		<b>Team: <a href={{page6}}>{{team6}}</a></b>
	</p>
	{% if name6 == 'Lamar Jackson' %}
		<img src = "{{url_for('static', filename='lamar_jackson.png')}}" alt = "Rushing Yds/Att" width = "520" height = "330">
	{% else %}
		<img src = "{{url_for('static', filename='roger_goodell.jpg')}}" <alt = "Rushing Yds/Att" width = "681" height = "383">
	{% endif %}
	<br><br><br><br><br><br>
{% endblock %}