{% extends 'layout.html' %}

{% block body %}
<br>
<h1>NFL Team Standings 2019 Season</h1> 
<p> 
<div class = "row">
	<div class = "column">
		<p>
			<img src = "https://upload.wikimedia.org/wikipedia/commons/thumb/7/7a/American_Football_Conference_logo.svg/1200px-American_Football_Conference_logo.svg.png" alt = "AFC Logo" width = "130" height = "130" hspace = "0">
			<h2>AFC East</h2>   
			<a href="/patriots">New England Patriots</a><br>
			<a href="/bills">Buffalo Bills</a><br>
			<a href="/dolphins">Miami Dolphins</a><br>
			<a href="/jets">New York Jets</a><br>
		</p>
		<p>
			<h2>AFC West</h2> 
			<a href="/chiefs">Kansas City Chiefs</a><br>
			<a href="/raiders">Oakland Raiders</a><br>
			<a href="/chargers">Los Angeles Chargers</a><br>
			<a href="/broncos">Denver Broncos</a><br>
		</p>
		<p>
			<h2>AFC North</h2> 
			<a href="/ravens">Baltimore Ravens</a><br>
			<a href="/steelers">Pittsburgh Steelers</a><br>
			<a href="/browns">Cleveland Browns</a><br>
			<a href="/bengals">Cincinnati Bengals</a><br>
		</p>
		<p>
			<h2>AFC South</h2>  
			<a href="/texans">Houston Texans</a><br>
			<a href="/colts">Indianapolis Colts</a><br>
			<a href="/titans">Tennessee Titans</a><br>
			<a href="/jaguars">Jacksonville Jaguars</a><br>
		</p>
	</div>
	<div class = "column">
		<p>
			<img src = "https://upload.wikimedia.org/wikipedia/commons/thumb/6/6f/National_Football_Conference_logo.svg/1200px-National_Football_Conference_logo.svg.png" alt = "NFC Logo" width = "130" height = "130">
			<h2>NFC East</h2>  
			<a href="/cowboys">Dallas Cowboys</a><br>
			<a href="/eagles">Philadelphia Eagles</a><br>
			<a href="/giants">New York Giants</a><br>
			<a href="/redskins">Washington Redskins</a><br>
		</p>
		<p>
			<h2>NFC West</h2>  
			<a href="/49ers">San Francisco 49ers</a><br>
			<a href="/seahawks">Seattle Seahawks</a><br>
			<a href="/rams">Los Angeles Rams</a><br>
			<a href="/cardinals">Arizona Cardinals</a><br>
		</p>
		<p>
			<h2>NFC North</h2> 
			<a href="/packers">Green Bay Packers</a><br>
			<a href="/vikings">Minnesota Vikings</a><br>
			<a href="/bears">Chicago Bears</a><br>
			<a href="/lions">Detroit Lions</a><br>
		</p>
		<p>
			<h2>NFC South</h2>
			<a href="/saints">New Orleans Saints</a><br>
			<a href="/panthers">Carolina Panthers</a><br>
			<a href="/buccaneers">Tampa Bay Buccaneers</a><br>
			<a href="/falcons">Atlanta Falcons</a><br>
		</p>
	</div>
</div>
</p>



<br><br><br><br>
{% endblock %}