{% extends 'layout.html' %}

{% block body %}
	<br>
	<h1>Houston Rockets</h1>
	<b>Coach: Mike D'Antoni</b><br>
	<b>GM: Daryl Morey</b><br> 
	<b>Arena: Toyota Center</b><br>
	<b>Record: 7-3 (3rd seed)</b><br>
	<b>Conference: West</b>
	<div class = "rockets_logo">
		<img src = "https://www.nba.com/images/cms/2019-09/USATSI_13421438.jpg?cw=1920&w=2196&x=0&ch=1080&h=1509&y=165" width = "580" height = "350">
		<img src = "https://cdn11.bigcommerce.com/s-0f122/products/832/images/15307/1__53192.1411155188.450.450.jpg?c=2" hspace = "20">
	</div><br> 
	<h2>Team Roster</h2> 
		<style type="text/css">
		.tg  {border-collapse:collapse;border-spacing:0;}
		.tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:black;}
		.tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:black;}
		.tg .tg-bn4o{font-weight:bold;font-size:18px;text-align:center;vertical-align:top}
		.tg .tg-13pz{font-size:18px;text-align:center;vertical-align:top}
		</style>
		<table class="tg">
		  <tr>
		    <th class="tg-bn4o">Name</th>
		    <th class="tg-bn4o">Pos</th>
		    <th class="tg-bn4o">Age</th>
		    <th class="tg-bn4o">Height</th>
		    <th class="tg-bn4o">Weight</th>
		    <th class="tg-bn4o">Season</th>
		    <th class="tg-bn4o">College</th>
		  </tr>
		  <tr>
		    <td class="tg-13pz">James Harden</td>
		    <td class="tg-13pz">SG</td>
		    <td class="tg-13pz">30</td>
		    <td class="tg-13pz">6-5</td>
		    <td class="tg-13pz">220</td>
		    <td class="tg-13pz">10</td>
		    <td class="tg-13pz">Arizona State</td>
		  </tr>
		  <tr>
		    <td class="tg-13pz">Eric Gordon</td>
		    <td class="tg-13pz">SG</td>
		    <td class="tg-13pz">30</td>
		    <td class="tg-13pz">6-3</td>
		    <td class="tg-13pz">215</td>
		    <td class="tg-13pz">11</td>
		    <td class="tg-13pz">Indiana</td>
		  </tr>
		  <tr>
		    <td class="tg-13pz">P.J. Tucker</td>
		    <td class="tg-13pz">PF</td>
		    <td class="tg-13pz">34</td>
		    <td class="tg-13pz">6-5</td>
		    <td class="tg-13pz">245</td>
		    <td class="tg-13pz">8</td>
		    <td class="tg-13pz">Texas</td>
		  </tr>
		  <tr>
		    <td class="tg-13pz">Russell Westbrook</td>
		    <td class="tg-13pz">PG</td>
		    <td class="tg-13pz">31</td>
		    <td class="tg-13pz">6-3</td>
		    <td class="tg-13pz">200</td>
		    <td class="tg-13pz">11</td>
		    <td class="tg-13pz">UCLA</td>
		  </tr>
		  <tr>
		    <td class="tg-13pz">Isaiah Hartenstein</td>
		    <td class="tg-13pz">F</td>
		    <td class="tg-13pz">21</td>
		    <td class="tg-13pz">7-0</td>
		    <td class="tg-13pz">249</td>
		    <td class="tg-13pz">1</td>
		    <td class="tg-13pz"></td>
		  </tr>
		  <tr>
		    <td class="tg-13pz">Clint Capela</td>
		    <td class="tg-13pz">C</td>
		    <td class="tg-13pz">25</td>
		    <td class="tg-13pz">6-10</td>
		    <td class="tg-13pz">240</td>
		    <td class="tg-13pz">5</td>
		    <td class="tg-13pz"></td>
		  </tr>
		  <tr>
		    <td class="tg-13pz">Gary Clark</td>
		    <td class="tg-13pz">F</td>
		    <td class="tg-13pz">25</td>
		    <td class="tg-13pz">6-6</td>
		    <td class="tg-13pz">225</td>
		    <td class="tg-13pz">1</td>
		    <td class="tg-13pz">Cincinnati</td>
		  </tr>
		  <tr>
		    <td class="tg-13pz">Danuel House</td>
		    <td class="tg-13pz">SF</td>
		    <td class="tg-13pz">26</td>
		    <td class="tg-13pz">6-6</td>
		    <td class="tg-13pz">215</td>
		    <td class="tg-13pz">3</td>
		    <td class="tg-13pz">Texas A&amp;M</td>
		  </tr>
		  <tr>
		    <td class="tg-13pz">Austin Rivers</td>
		    <td class="tg-13pz">SG</td>
		    <td class="tg-13pz">27</td>
		    <td class="tg-13pz">6-3</td>
		    <td class="tg-13pz">200</td>
		    <td class="tg-13pz">7</td>
		    <td class="tg-13pz">Duke</td>
		  </tr>
		  <tr>
		    <td class="tg-13pz">Tyson Chandler</td>
		    <td class="tg-13pz">C</td>
		    <td class="tg-13pz">37</td>
		    <td class="tg-13pz">7-0</td>
		    <td class="tg-13pz">240</td>
		    <td class="tg-13pz">18</td>
		    <td class="tg-13pz"></td>
		  </tr>
		  <tr>
		    <td class="tg-13pz">Ben McLemore</td>
		    <td class="tg-13pz">SG</td>
		    <td class="tg-13pz">26</td>
		    <td class="tg-13pz">6-3</td>
		    <td class="tg-13pz">195</td>
		    <td class="tg-13pz">6</td>
		    <td class="tg-13pz">Kansas</td>
		  </tr>
		  <tr>
		    <td class="tg-13pz">Gerald Green</td>
		    <td class="tg-13pz">G-F</td>
		    <td class="tg-13pz">33</td>
		    <td class="tg-13pz">6-6</td>
		    <td class="tg-13pz">205</td>
		    <td class="tg-13pz">12</td>
		    <td class="tg-13pz"></td>
		  </tr>
		  <tr>
		    <td class="tg-13pz">Chris Clemons</td>
		    <td class="tg-13pz">PG</td>
		    <td class="tg-13pz">22</td>
		    <td class="tg-13pz">5-9</td>
		    <td class="tg-13pz">180</td>
		    <td class="tg-13pz">R</td>
		    <td class="tg-13pz">Campbell</td>
		  </tr>
		  <tr>
		    <td class="tg-13pz">Nene</td>
		    <td class="tg-13pz">F-C</td>
		    <td class="tg-13pz">37</td>
		    <td class="tg-13pz">6-11</td>
		    <td class="tg-13pz">250</td>
		    <td class="tg-13pz">17</td>
		    <td class="tg-13pz"></td>
		  </tr>
		  <tr>
		    <td class="tg-13pz">Thabo Sefolosha</td>
		    <td class="tg-13pz">SF</td>
		    <td class="tg-13pz">35</td>
		    <td class="tg-13pz">6-6</td>
		    <td class="tg-13pz">220</td>
		    <td class="tg-13pz">13</td>
		    <td class="tg-13pz"></td>
		  </tr>
		  <tr>
		    <td class="tg-13pz">Ryan Anderson</td>
		    <td class="tg-13pz">PF</td>
		    <td class="tg-13pz">31</td>
		    <td class="tg-13pz">6-9</td>
		    <td class="tg-13pz">240</td>
		    <td class="tg-13pz">11</td>
		    <td class="tg-13pz">Cal</td>
		  </tr>
		  <tr>
		    <td class="tg-13pz">Micheal Frazier</td>
		    <td class="tg-13pz">G</td>
		    <td class="tg-13pz">25</td>
		    <td class="tg-13pz">6-3</td>
		    <td class="tg-13pz">200</td>
		    <td class="tg-13pz">R</td>
		    <td class="tg-13pz">Florida</td>
		  </tr>
		</table>
		<br><br><br><br>
	


{% endblock %}